{% extends "base.html" %}

{% block titulo %}
Categorías
{% endblock %}

{% block contenido %}

<h1>Categorías</h1>

<div class="lista-categorias">

    {% for categoria in categorias %}
        <div class="categoria">
            <h2>{{ categoria.nombre }}</h2>

            <p>
                Productos disponibles:
                {{ categoria.productos|length }}
            </p>

            <a href="{{ url_for('main.index', categoria=categoria.id) }}">
                Ver productos
            </a>
        </div>
    {% endfor %}

</div>

{% endblock %}